<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>

    <a href="/greeting">Go To Home Page</a>
     
    <p th:text="'How many males are in the address book?: ' + ${oldestperson}" />
    <p th:text="'Who is the oldest person in the address book?: ' + ${countByGender}" />
    <p th:text="'How many days older is Bill than Paul?: ' + ${ageDiffInDays}" />
   
   
</body>
</html>
